/* Announcement.css */
.announcement-board {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: black;
    color: white;
  }
  
  .announcement-board h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .announcements-list {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
  }
  
  .announcement-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #444;
  }
  
  .announcement-item:last-child {
    border-bottom: none;
  }
  
  .date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    text-align: center;
  }
  
  .date-day {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .date-month {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  
  .date-year {
    font-size: 1rem;
    color: grey;
  }
  
  .announcement-content {
    flex: 1;
  }
  
  .announcement-content h4 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .announcement-content p {
    margin: 5px 0;
  }
  
  .load-more-button {
    display: block;
    width: 20%;
    padding: 10px;
    margin: 20px auto 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .load-more-button:hover {
    background-color: #0056b3;
  }